<ion-view title="Login Now" id="page2" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="loginNow-form2" class="list">
      <label class="item item-input" id="loginNow-input1">
        <span class="input-label">Username</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="loginNow-input2">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="loginNow-button1" class="button button-dark  button-block">Login</button>
    <button id="loginNow-button2" class="button button-positive  button-block">Login with Facebook</button>
  </ion-content>
</ion-view>